# =========================

# Python

# =========================

**pycache**/
*.py[cod]

# =========================

# Virtual Environment

# =========================

venv/
env/
.venv/

# =========================

# Environment Variables

# =========================

.env

# =========================

# Django

# =========================


# Ignore all migrations (keep **init**.py)

**/migrations/*
!**/migrations/**init**.py

# Media files (uploads)

appBackend/media/

# =========================

# IDE / Editor

# =========================

.vscode/
.idea/

# =========================

# OS files

# =========================

.DS_Store
Thumbs.db

# =========================

# Build / cache

# =========================

*.egg-info/
dist/
build/

# =========================

# Misc

# =========================

*.tmp
*.bak


__pycache__/
*.pyc